/*
Styling by using element ids
naming format is "[ComponentName]-[ElementType]-[DescriptiveName]"
*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
Universal styling
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

* {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(12, 84, 73, 1);
}

body {
  background-color: rgb(244, 244, 245, 1);
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
Signin.jsx component styling
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  
#Signin-h1-page-title {
  text-align: center;
  font-size: 3rem;
  padding-top: 1rem;
}

#Signin-div-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  border: 25px outset rgb(12, 84, 73);
}
  
#Signin-h1-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
  
#Signin-input-username,
#Signin-input-password {
  font-size: medium;
  height: 2rem;
  margin-left: 5px;
  border-radius: 5px;
}
  
#Signin-div-row-flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
  
#Signin-button-signin {
  background-color: rgb(255, 204, 51, 1);
  font-size: medium;
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
}
#Signin-button-signin:hover {
  background-color: rgb(255, 224, 133, 1);
  cursor: pointer;
  transition: 0.3s;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
NavBar.jsx component styling
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#NavBar-div-container {
  background-color: #0e584c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#NavBar-h1-title {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-left: 1rem;
}

#NavBar-div-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#NavBar-button-link {
  background-color: transparent;
  color: white;
  font-size: large;
  border: none;
  margin-right: 1rem;
}
#NavBar-button-link:hover {
  cursor: pointer;
  color: rgb(255, 204, 51, 1);
  transition: 0.3s;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
Keys.jsx component styling
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#Keys-div-container {
  text-align: center;
  padding: 2rem;
  padding-top: 0;
}

#Keys-div-top-flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

#Keys-div-search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
}

#Keys-label-search-column,
#Keys-label-search-row {
  font-size: large;
  margin-right: auto;
}

#Keys-select-column {
  font-size: medium;
  width: 12rem;
  height: 2.35rem;
  border-radius: 5px;
  margin: 0.5rem;
}

#Keys-input-search-row {
  font-size: medium;
  width: 20rem;
  height: 2rem;
  border-radius: 5px;
  margin: 0.5rem;
}
  
#Keys-button-search-row {
  background-color: rgb(255, 204, 51, 1);
  font-size: medium;
  height: 2.3rem;
  border-radius: 5px;
  border: none;
}
#Keys-button-search-row:hover {
  background-color: rgb(255, 224, 133, 1);
  cursor: pointer;
  transition: 0.3s;
}

#Keys-div-create-key-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

#Keys-button-create-key {
  width: 52px;
  height: 52px;
  background-color: transparent;
  background-image: url('./assets/add_key_icon_default.png');
  background-size: cover;
  border: none;
  outline: none;
  margin-right: 1rem;
}
#Keys-button-create-key:hover {
  background-color: transparent;
  background-image: url('./assets/add_key_icon_hover.png');
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

#Keys-table-container {
  overflow-y: auto;
  margin-bottom: 1.25rem;
}

#Keys-table-main {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(9, 64, 56, 1);
}
tr {
  text-align: left;
}
tr:nth-child(odd) {
  background-color: #e2e2e2;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #d2d2d2;
  cursor: pointer;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
CreateKey.jsx component styling
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#CreateKey-div-container {
  text-align: center;
  padding: 2rem;
  padding-top: 0;
}

#CreateKey-div-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: black solid 2px;
  border-bottom: none;
  border-radius: 5px;
}
#CreateKey-div-row-flex-box-title {
  background-color: rgb(9, 64, 56, 1);
  display: flex;
  flex-direction: row;
  justify-content: center; 
}
#CreateKey-div-row-flex-box-title h2 {
  color: rgb(255, 204, 51, 1);
}
#CreateKey-div-row-flex-box,
#CreateKey-div-row-flex-box-even {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: black solid 2px;
}
#CreateKey-div-row-flex-box-even {
  background-color: #e2e2e2;
}
#CreateKey-input-tag-number,
#CreateKey-input-tag-color,
#CreateKey-input-core-number,
#CreateKey-input-room-number,
#CreateKey-input-room-type,
#CreateKey-input-key-number {
  font-size: larger;
  width: 25%;
  height: 80%;
  border: 2px black solid;
  border-radius: 5px;
}


#CreateKey-div-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}
#CreateKey-button-go-back {
  background-color: rgb(255, 204, 51, 1);
  font-size: medium;
  height: 2.3rem;
  border-radius: 5px;
  border: none;
}
#CreateKey-button-go-back:hover {
  background-color: rgb(255, 224, 133, 1);
  cursor: pointer;
  transition: 0.3s;
}
#CreateKey-button-create-key {
  background-color: rgb(255, 204, 51, 1);
  font-size: medium;
  height: 2.3rem;
  border-radius: 5px;
  border: none;
}
#CreateKey-button-create-key:hover {
  background-color: rgb(255, 224, 133, 1);
  cursor: pointer;
  transition: 0.3s;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
KeyInfo.jsx component styling
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#KeyInfo-div-container {
  text-align: center;
  width: auto;
  padding: 2rem;
  padding-top: 0;
}

#KeyInfo-div-flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#KeyInfo-div-info-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: black solid 2px;
  border-radius: 5px;
}

#KeyInfo-div-row-flex-box,
#KeyInfo-div-row-flex-box-even,
#KeyInfo-div-row-flex-box-title {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: black solid 2px;
}
#KeyInfo-div-row-flex-box-even {
  background-color: #e2e2e2;
}
#KeyInfo-div-row-flex-box-title {
  justify-content: center;
  background-color: rgb(9, 64, 56, 1);
}
#KeyInfo-div-row-flex-box-title h2 {
  color: rgb(255, 204, 51, 1);
}

#KeyInfo-div-request-form-container {
  width: 50%;
  height: auto;
  border: 2px black solid;
  border-radius: 5px;
}
#KeyInfo-iframe-key-request-form {
  width: 100%;
  height: 100%;
}
#KeyInfo-h1-no-request-form {
  padding-top: 45%;
}

#KeyInfo-div-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

#KeyInfo-button-back {
  background-color: rgb(255, 204, 51, 1);
  font-size: medium;
  width: 5rem;
  height: 2.3rem;
  border-radius: 5px;
  border: none;
}
#KeyInfo-button-back:hover {
  background-color: rgb(255, 224, 133, 1);
  cursor: pointer;
  transition: 0.3s;
}

#KeyInfo-button-edit {
  background-color: rgb(255, 204, 51, 1);
  font-size: medium;
  width: 5rem;
  height: 2.3rem;
  border-radius: 5px;
  border: none;
}
#KeyInfo-button-edit:hover {
  background-color: rgb(255, 224, 133, 1);
  cursor: pointer;
  transition: 0.3s;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
EditKey.jsx component styling
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#EditKey-div-container {
  text-align: center;
  width: auto;
  padding: 2rem;
  padding-top: 0;
}

#EditKey-div-top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#EditKey-div-form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: black solid 2px;
  border-radius: 5px;
}

#EditKey-div-row-flex-box,
#EditKey-div-row-flex-box-even,
#EditKey-div-row-flex-box-title {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: black solid 2px;
}
#EditKey-div-row-flex-box-even {
  background-color: #e2e2e2;
}
#EditKey-div-row-flex-box-title {
  justify-content: center;
  background-color: rgb(9, 64, 56, 1);
}
#EditKey-div-row-flex-box-title h2 {
  color: rgb(255, 204, 51, 1);
}

#EditKey-input-tag_number,
#EditKey-input-tag_color,
#EditKey-input-core_number,
#EditKey-input-room_number,
#EditKey-input-room_type,
#EditKey-input-key_number,
#EditKey-input-available,
#EditKey-input-key_holder_fname,
#EditKey-input-key_holder_lname,
#EditKey-input-key_holder_access_id,
#EditKey-input-date_assigned,
#EditKey-textarea-comments,
#EditKey-input-last_edited_by,
#EditKey-input-date_last_edited,
#EditKey-input-key_request_form {
  font-size: larger;
  width: 50%;
  height: 80%;
  border: 2px black solid;
  border-radius: 5px;
}
#EditKey-textarea-comments {
  resize: none;
}

#EditKey-input-tag_number:hover,
#EditKey-input-tag_color:hover,
#EditKey-input-core_number:hover,
#EditKey-input-room_number:hover,
#EditKey-input-room_type:hover,
#EditKey-input-key_number:hover,
#EditKey-input-last_edited_by:hover,
#EditKey-input-date_last_edited:hover {
  cursor: not-allowed;
}

#EditKey-div-assign-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: black solid 2px;
  border-radius: 5px;
}

#EditKey-div-assign-form-title {
  background-color: rgb(9, 64, 56, 1);
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: black solid 2px;
}
#EditKey-div-assign-form-title h2 {
  color: rgb(255, 204, 51, 1);
}

#EditKey-div-assgin-form-lower-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#EditKey-div-assign-form-table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

#EditKey-table-assign-form {
  border-collapse: collapse;
  overflow-y: auto;
  max-height: 80%;

}
#EditKey-div-selected-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.selected-form {
  font-weight: bold;
}

#EditKey-div-selected-form-row {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: black solid 2px;
}
#EditKey-div-selected-form-row-even {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: black solid 2px;
  background-color: #e2e2e2;
}
#EditKey-div-no-selected-form {
  background-color: #e2e2e2;
  border-top: 2px black solid;
}

#EditKey-button-remove-holder {
  background-color: rgb(255, 204, 51, 1);
  font-size: medium;
  font-weight: bold;
  height: 50%;
  border-radius: 5px;
  border: none;
}
#EditKey-button-remove-holder:hover {
  background-color: rgb(255, 224, 133, 1);
  cursor: pointer;
  transition: 0.3s;
}

#EditKey-button-remove-key {
  background-color: #dc4c64;
  font-size: medium;
  font-weight: bold;
  height: 50%;
  border-radius: 5px;
  border: none;
}
#EditKey-button-remove-key:hover {
  background-color:  #e27b8e;
  cursor: pointer;
  transition: 0.3s;
}

#EditKey-div-request-form-container {
  width: 50%;
  height: 1080px;
  border: 2px black solid;
  border-radius: 5px;
}
#EditKey-iframe-key-request-form {
  width: 100%;
  height: 100%;
}
#EditKey-h1-no-request-form {
  padding-top: 45%;
}

#EditKey-div-quick-actions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px black solid;
  border-bottom: none;
  border-radius: 5px;
  width: 100%;
}
#EditKey-div-quick-actions-title {
  background-color: rgb(9, 64, 56, 1);
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: black solid 2px;
}
#EditKey-div-quick-actions-title h2 {
  color: rgb(255, 204, 51, 1);
}

#EditKey-div-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

#EditKey-button-cancel {
  background-color: rgb(255, 204, 51, 1);
  font-size: medium;
  width: 5rem;
  height: 2.3rem;
  border-radius: 5px;
  border: none;
}
#EditKey-button-cancel:hover {
  background-color: rgb(255, 224, 133, 1);
  cursor: pointer;
  transition: 0.3s;
}

#EditKey-button-submit {
  background-color: rgb(255, 204, 51, 1);
  font-size: medium;
  width: 5rem;
  height: 2.3rem;
  border-radius: 5px;
  border: none;
}
#EditKey-button-submit:hover {
  background-color: rgb(255, 224, 133, 1);
  cursor: pointer;
  transition: 0.3s;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
RequestForms.jsx component styling
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#RequestForms-div-container {
  text-align: center;
  width: auto;
  padding: 2rem;
  padding-top: 0;
}

#RequestForms-div-top-flex-box {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#RequestForms-div-search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
}

#RequestForms-label-search-column,
#RequestForms-label-search-row {
  font-size: large;
  margin-right: auto;
}

#RequestForms-select-column {
  font-size: medium;
  width: 12rem;
  height: 2.35rem;
  border-radius: 5px;
  margin: 0.5rem;
}

#RequestForms-input-search-row {
  font-size: medium;
  width: 20rem;
  height: 2rem;
  border-radius: 5px;
  margin: 0.5rem;
}
  
#RequestForms-button-search-row {
  background-color: rgb(255, 204, 51, 1);
  font-size: medium;
  height: 2.3rem;
  border-radius: 5px;
  border: none;
}
#RequestForms-button-search-row:hover {
  background-color: rgb(255, 224, 133, 1);
  cursor: pointer;
  transition: 0.3s;
}

#RequestForms-div-create-key-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

#RequestForms-button-create-key {
  width: 52px;
  height: 52px;
  background-color: transparent;
  background-image: url('./assets/add_key_request_form_icon_default.png');
  background-size: cover;
  border: none;
  outline: none;
  margin-right: 1rem;
}
#RequestForms-button-create-key:hover {
  background-color: transparent;
  background-image: url('./assets/add_key_request_form_icon_hover.png');
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

#RequestForms-div-flex-box {
  height: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#RequestForms-div-table-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: black solid 2px;
  border-radius: 5px;
}

#RequestForms-table {
  border-collapse: collapse;
  overflow-y: auto;
}

#RequestForms-div-image-container {
  width: 50%;
  border: 2px black solid;
  border-radius: 5px;
}
#RequestForms-iframe-key-request-form {
  width: 100%;
  height: 100%;
}
#RequestForms-h1-no-request-form {
  padding-top: 45%;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
AddRequestForm.jsx component styling
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#AddRequestForm-div-container {
  text-align: center;
  width: auto;
  padding: 2rem;
  padding-top: 0;
}

#AddRequestForm-div-flex-box {
  height: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#AddRequestForm-div-info-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: black solid 2px;
  border-radius: 5px;
}

#AddRequestForm-div-row-flex-box,
#AddRequestForm-div-row-flex-box-even,
#AddRequestForm-div-row-flex-box-title {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: black solid 2px;
}
#AddRequestForm-div-row-flex-box-even {
  background-color: #e2e2e2;
}
#AddRequestForm-div-row-flex-box-title {
  justify-content: center;
  background-color: rgb(9, 64, 56, 1);
}
#AddRequestForm-div-row-flex-box-title h2 {
  color: rgb(255, 204, 51, 1);
}

#AddRequestForm-input-first-name,
#AddRequestForm-input-last-name,
#AddRequestForm-input-access-id,
#AddRequestForm-input-date-signed,
#AddRequestForm-input-file {
  font-size: larger;
  width: 50%;
  height: 80%;
  border: 2px black solid;
  border-radius: 5px;
}

#AddRequestForm-div-image-container {
  width: 50%;
  border: 2px black solid;
  border-radius: 5px;
}
#AddRequestForm-iframe-key-request-form {
  width: 100%;
  height: 100%;
}
#AddRequestForm-h1-no-request-form {
  padding-top: 45%;
}

#AddRequestForm-div-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

#AddRequestForm-button-cancel {
  background-color: rgb(255, 204, 51, 1);
  font-size: medium;
  width: 5rem;
  height: 2.3rem;
  border-radius: 5px;
  border: none;
}
#AddRequestForm-button-cancel:hover {
  background-color: rgb(255, 224, 133, 1);
  cursor: pointer;
  transition: 0.3s;
}

#AddRequestForm-button-submit {
  background-color: rgb(255, 204, 51, 1);
  font-size: medium;
  width: 5rem;
  height: 2.3rem;
  border-radius: 5px;
  border: none;
}
#AddRequestForm-button-submit:hover {
  background-color: rgb(255, 224, 133, 1);
  cursor: pointer;
  transition: 0.3s;
}